.servicesSection {
    background-color: #577171;
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.servicesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
}

.servicesSection h3 {
    color: #2d3e3e;
}

.servicesSection h4 {
    color: #2d3e3e;
}