.statementSection {
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #405958;
}

.statementContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    width: 100%;
}

.statementChild {
    width: 500px;
}

